---
layout: archive 
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks %}
  {% if post.property == "tmu" %}
    {% include archive-single-talk-tmu.html %}
  {% elsif post.property =="wadla" %}
    {% include archive-single-talk-wadla.html %}  
  {% elsif post.property =="epoch" %}
    {% include archive-single-talk-epoch.html %}  
  {% else %}
    {% include archive-single-talk-tmu.html %}  
  {% endif %}
{% endfor %}
