{% include base_path %}

<!-- begin SEO -->
{% assign seo_url = "https://rushendra10.github.io" %}

{% if page.title %}
  {% assign seo_title = page.title | append: " | " | append: "Rushendra Sidibomma" %}
{% else %}
  {% assign seo_title = "Rushendra Sidibomma | Machine Learning Research Engineer" %}
{% endif %}

{% assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once %}

{% assign canonical_url = page.url | replace: "index.html", "" | prepend: seo_url %}
{% assign seo_description = page.description | default: page.excerpt | default: "I am a passionate researcher and I love building software solutions." %}
{% assign seo_description = seo_description | markdownify | strip_html | strip_newlines | escape_once %}

<title>{{ seo_title }}{% if paginator %}{% unless paginator.page == 1 %} | Page {{ paginator.page }}{% endunless %}{% endif %}</title>

<meta name="description" content="{{ seo_description }}">
<meta property="og:locale" content="en">
<meta property="og:site_name" content="Rushendra Sidibomma">
<meta property="og:title" content="{{ seo_title }}">
<meta property="og:description" content="{{ seo_description }}">
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:type" content="website">

{% if page.header.image %}
  <meta property="og:image" content="{{ page.header.image | prepend: "/images/" | prepend: base_path }}">
{% endif %}

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ seo_title }}">
<meta name="twitter:description" content="{{ seo_description }}">
<meta name="twitter:url" content="{{ canonical_url }}">

<link rel="canonical" href="{{ canonical_url }}">
{% if paginator.previous_page %}
  <link rel="prev" href="{{ paginator.previous_page_path | prepend: seo_url }}">
{% endif %}
{% if paginator.next_page %}
  <link rel="next" href="{{ paginator.next_page_path | prepend: seo_url }}">
{% endif %}

<!-- JSON-LD Person Schema -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Rushendra Sidibomma",
  "jobTitle": "Machine Learning Research Engineer",
  "affiliation": [
    { "@type": "Organization", "name": "AutomationEdge" },
    { "@type": "CollegeOrUniversity", "name": "Toronto Metropolitan University" },
    { "@type": "CollegeOrUniversity", "name": "Indian Institute of Information Technology, Sri City" }
    { "@type": "CollegeOrUniversity", "name": "University of Minnesota" }
  ],
  "url": "https://rushendra10.github.io/",
  "sameAs": [
    "https://scholar.google.com/citations?user=z-6FN5YAAAAJ&hl=en",
    "https://www.linkedin.com/in/rushendra-sidibomma/",
    "https://github.com/Rushendra10",
    "https://aclanthology.org/people/r/rushendra-sidibomma/",
    "https://ieeexplore.ieee.org/author/37089890372"

  ],
  "description": "I am a passionate researcher and I love building software solutions."
}
</script>
<!-- end SEO -->
